.btn {
    @include set-background-and-text($primary);
    border-radius: 50px;
    transition: opacity 0.3s ease-in-out;

    &:hover {
        @include set-background-and-text($primary);
        opacity: 85%;
        border: 0.015rem solid #fff;
    }
}