.contact {
    @include set-background-and-text (darken($primary,40%));
    border-radius: 2px;


    &-intro {
/*         &--title {

        } */
        &--descr {
            font-size: small;
        }
        &--social {
            &-icons {
                img {
                    max-height: 30px;
                    width: 100%;
                }
            }
        }
    }

    &-form {
        &--casella {
            margin: 8px 4px;
            width: 90%;
        }
        &--button {
            width: 25%;

        }
    }

    .hidden {
        display: none;
    }
}