/* $font-stack: Arial, Helvetica, sans-serif; */
$primary: #00b7ff;
$secondary: #00ff2682;
$semi-trasparent: rgba(0, 0, 0, 0.005);

body {
    /* height: 2000px; */
    font-family: "Poppins", sans-serif;
}

//funzione colore testo in base a bg
@function set-text-color($color) {
    @if(lightness($color)>70) {
        @return #333;
    }

    @else {
        @return #fff;
    }
}

//mixin per settare colore background e testo
@mixin set-background-and-text($color) {
    background-color: $color;
    color: set-text-color($color);
}

@mixin center-section() {
    max-width: 700px;
    margin: 0 auto;
}

nav {
    @include center-section();
}

section {
    @include center-section();
}
