.intro-section {
    @include set-background-and-text($dark);
    position: relative;
    font-family: "Poppins", sans-serif;
    padding-bottom: 250px;

    &::before {
        @include section-divider;
    }


    .display-2 {

        &--intro {
            font-size: 30px;
            display: block;
            font-weight: 700;
            animation: fade-in 4.5s;
            span{
                font-size: 50px;
                color: $primary;
                @media (min-width: 767px) {
                    font-size: 60px;
                }
            }
        }


        &--intro2 {
            font-size: 20px;
            display: block;
            font-weight: 350;
            animation: fade-in 4s 2s backwards;
        }

        &--descrizione {
            font-size: small;
            display: block;
            animation: /* grow-right 3s 4s backwards,  */fade-in 3s 4s both;
        }

    }

    #info-btn {
        animation: grow-left 3s 4s backwards, fade-in 3s 4s backwards;
        float: right;
    }

    .mia-immagine {
        max-width: 100%;
        max-height: 200px;
        animation: slide-left 3s 4s backwards, fade-in 3s 4s backwards;

    }



}