.navbar {
    --_animazioneInizio: 50vh;
    --_animazioneDistanza: 120px;

    background-color: transparent;
    border-radius: 16px;
    padding: 0.5rem;

    position: sticky;
    z-index: 1000;
    top: -5rem;
    animation: stickyNav linear forwards;

    @supports (animation-timeline: view()) {
        backdrop-filter: blur(0.15rem); 
        animation-timeline: view();
        animation-range-start: calc(100vh + var(--_animazioneInizio));
        animation-range-end: calc(100vh + var(--_animazioneInizio) + var(--_animazioneDistanza));
    }

    &-brand {
        font-weight: 500;
        color: darken($primary, 10%);
        font-size: 24px;
        transition: 0.3s color;

        &:hover {
            color: lighten($primary, 20%);
        }
    }

    .nav-item {

        margin: auto 10px;

        .nav-link {
            color: $primary;
            font-weight: 500;
            font-size: small;
            position: relative;
    
            &:hover,
            &:active {
                color: lighten($primary, 10%);
            }
    
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 2px;
                background-color: $primary;
                visibility: hidden;
                transition: 0.3s ease-in-out;
            }
    
            &:hover::before,
            &.active::before {
                width: 100%;
                visibility: visible;
            }
    
    
        }

    }

    
}